.button {
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    width: auto;
    text-align: center;
    display: inline-block;
}

.preto {
    background-color: var(--preto);
    color: #fff;
}

.preto:hover {
    background-color: var(--vermelho);
}

.vermelho {
    background-color: var(--vermelho);
    color: #fff;
}

.vermelho:hover {
    background-color: var(--vermelho-vivo);
}

.branco {
    background-color: #ffffff;
    color: var(--preto);
}

.branco:hover {
    background-color: #e6e6e6;
}
