@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --vermelho: #EF4444;
  --preto: #000000;
  --cinza-escuro: #616568;
  --cinza-fundo: #EDEDED;
  --cinza-card: #F0F0F0;
  --cinza-escuro-card: #878896;
}

* {
  box-sizing: border-box;
  margin: 0 !important;
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif !important;
}

html, body, #root {
  overflow-x: hidden;
}
