@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-principal: #EF4444;
  --cor-secundaria: #171414;
  --cor-texto-botao: #FFFF;
  --cor-msg-erro: #EF4444;
  --cor-borda-erro: #f5b8c0;
  --cor-borda-certo: #166534;
  --cor-msg-certo: #dcfce7;
  --cor-fundo-estoque: #fef3c7;
  --cor-letra-estoque: #926d0e;
  --cor-fundo-nestoque: #fee2e2;
  --cor-letra-nestoque: #991b1b;
  --cor-fundo-vendido: #dcfce7;
  --cor-letra-vendido: #166534;
  --cor-texto-preco:  #b91c1c;
  --preto: #000000;
  --preto-nav: #171414;
  --cinza-escuro: #616568;
  --cinza-fundo: #EDEDED;
  --cinza-card: #F0F0F0;
  --cor-linha: #E0E0E0FF;
  --cinza-escuro-card: #878896;
  --fonte-site: 'Montserrat';
  --vermelho: #991b1b;
}

* {
  box-sizing: border-box;
  margin: 0 !important;
  text-decoration: none !important;
  font-family: var(--fonte-site), 'Montserrat', sans-serif !important;
}

html, body, #root {
  overflow-x: hidden;
}
