.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards div p {
    font-size: 16px;
    font-weight: bold;
}

.resposta {
    width: 1140px;
    height: auto;
    border: solid 1px var(--cinza-escuro-card);
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 1200px) {
    .resposta {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .cards div p {
        font-size: 13px;
    }

    .resposta {
        padding: 8px 10px;
    }

    .cards img {
        width: 22px;
        height: 22px;
        display: block;
    }
}
